/* DIV */

#finestre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 20px 60px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 230px;
    padding-top: 30px;
    margin: 20px 40px 40px 40px;
    border-radius: 40px;
    color: #1b263b;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

/* FORM */

#modulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 580px;
    margin: 40px 0 20px 0;
    border-radius: 40px;
    color: #1b263b;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin: 20px 0 10px 0;
    font-weight: bold;
}

form input {
    padding: 10px;
    border: solid 2px #222222;
    border-radius: 5px;
}

form textarea {
    padding: 10px;
    margin-top: -20px;
    border: solid 2px #222222;
    border-radius: 5px;
    resize: none;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: solid 2px #222222;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: bold;
    transition: color 0.4s ease;
}

form button:hover {
    border: solid 2px #ffffff;
    background-color: #222222;
    color: #ffffff;
}