html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header {
    background-color: #e0e1dd;
    border-radius: 0 0 10px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #222222;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;   
}

nav a h1 {
    background-image: url(../icons/sylvanicon.ico);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 0 1px;
    justify-content: flex-start;
    position: relative;
    bottom: 5px;
    text-indent: 50px;
    font-size: 30px;
}

nav ul li a {
    margin-right: 25px;
    transition: color 0.4s ease;
}

nav ul li a:hover {
    color: #f2f2f2;
}

/* MAIN */

main {
    padding: 20px;
}

.main-heading {
    text-align: center;
    color: #1b263b;
}

/* RESORT SECTION */

#resort-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.resort {
    margin: 20px 10px;
    border: solid 2px #1b263b;
    border-radius: 25px;
    color: #f2f2f2;
    background-color: #1b263b;
    box-shadow: #1b263b 0 0 10px;
    text-align: center;
    width: 380px;
    height: 495px;
    transition: 0.5s;
}

.resort:hover {
    color: #1b263b;
    background-color: #ffffff;
    transform: translateY(-20px);
    a {
        color: #1b263b;
    }
}

.resort a {
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
}

.resort a:hover {
    text-decoration: underline 2px #1b263b;
}

figure img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

figcaption {
    max-width: 300px;
}

figcaption a {
    font-weight: bold;
}

.resort h3 {
    padding: 20px 10px 0 10px;
    font-size: 20px;
}

.resort p {
    padding: 0 25px;
}

.resort.all p {
    padding: 0 40px;
}

.resort.all button {
    margin-top: 20px;
    padding: 20px 30px;
    border: solid 2px #f2f2f2;
    border-radius: 10px;
    background-color: #1b263b;
    color: #f2f2f2;
    transition: color 0.4s ease;
    font-weight: bold;
    font-size: 15px;
}

.resort button:hover {
    border: solid 2px #1b263b;
    background-color: #ffffff;
    color: #1b263b;
    font-weight: bold;
}

/* FIELDSET */

fieldset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 2px #1b263b;
    border-radius: 25px;
    padding-bottom: 30px;
    margin: 20px 130px;
}

legend {
    margin-left: 40px;
    font-size: 20px;
}

.finestra {
    width: 330px;
    height: 380px;
    margin: 20px 30px;
    border-radius: 25px;
    color: #1b263b;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    text-align: center;
}

.finestra p {
    padding: 0 30px;
}

/* MAPPA */

#mappa-section {
    text-align: center;
    font-size: 20px;
    color: #1b263b;
    margin: 50px 70px 20px 70px;
}

#map {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    pointer-events: none;
}

/* BACKTOTOP */

#backtop-section {
    display: flex;
    justify-content: center;
}

#backtop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1b263b;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 4px #778da9;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.4s;
}
  
.svgIcon path {
    fill: white;
}
  
#backtop:hover {
    width: 200px;
    border-radius: 50px;
    transition-duration: 0.4s;
    background-color: #415a77;
    align-items: center;
}
  
#backtop:hover .svgIcon {
    transition-duration: 0.4s;
    transform: translateY(-200%);
}
  
#backtop::before {
    position: absolute;
    bottom: -20px;
    content: "Torna su";
    color: white;
    font-size: 0px;
}
  
#backtop:hover::before {
    font-size: 16px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.4s;
}
  
/* FOOTER */

footer {
    margin: 0;
    padding: 20px;
    background-color: #e0e1dd;
    color: #222222;
    text-align: center;
}

footer p {
    font-size: 14px;
    font-family: monospace;
}