body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

nav {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #666666;
}

nav a h1 {
    background-image: url(../icons/sylvanicon.ico);
    background-size: 28px;
    background-repeat: no-repeat;
    justify-content: flex-start;
    text-indent: 35px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    
}

nav ul li a {
    margin-right: 25px;
    transition: color 0.4s ease;
}

nav ul li a:hover {
    color: #ffffff;
}

/* MAIN */

main {
    padding: 20px;
}

main h1, main h3 {
    text-align: center;
}

/* SECTION */

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.resort {
    margin: 20px 10px;
    border-radius: 25px;
    border: solid 2px #222222;    
    text-align: center;
    width: 380px;
    height: 495px;
    transition: 0.5s;
}

.resort:hover {
    color: #ffffff;
    background-color: #222222;
    box-shadow: #000000 0 0 10px;
    transform: translateY(-20px);
    a {
        color: #ffffff;
    }
}

.resort a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

figure img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

figcaption {
    max-width: 300px;
}

figcaption a {
    font-weight: bold;
}

.resort h3 {
    padding: 20px 10px 0 10px;
    font-size: 20px;
}

.resort p {
    padding: 0 25px;
}

/*BUTTON*/

.resort.all p {
    padding: 0 40px;
}

.resort.all button {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    border: solid 2px #222222;
    background-color: #ffffff;
    transition: color 0.4s ease;
    font-weight: bold;
    font-size: 15px;
}

.resort button:hover {
    border: solid 2px #ffffff;
    background-color: #222222;
    color: #ffffff;
    font-weight: bold;
}

/*FOOTER*/

footer {
    margin: 0;
    font-size: 14px;
    padding: 20px;
    background-color: #f2f2f2;
    color: #666666;
    text-align: center;
}